html,body {
    background: #e9eaec;
    -webkit-font-smoothing: antialiased;
    font-size: 14px
}
img {
    width: 100%;
}
* {
    box-sizing: border-box;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent
}
a {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;
    color: #3da9f7;
}
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}
@media (min-width: 800px) and (max-width: 1200px) {
    .container {
        width: 1000px
    }
}
@media (max-width: 800px) {
    .container {
        width: auto
    }
}
.article-detail-wrap {
    margin: 0 auto
}
@media (max-width: 800px) {
    .article-detail-wrap {
        padding: 10px
    }
}
.article-detail-wrap.reading-off {
    -webkit-transition: opacity ease 0.2s;
    transition: opacity ease 0.2s
}
.article-detail-wrap.reading-off.reading-model {
    opacity: 0
}
@media (min-width: 1200px) {
    .article-detail-wrap {
        width: 1170px
    }
}
@media (min-width: 800px) and (max-width: 1200px) {
    .article-detail-wrap {
        width: 1000px
    }
}
@media (max-width: 800px) {
    .article-detail-wrap {
        width: auto
    }
}
.article-detail-wrap .article-section:not(:first-child) {
    margin: 50px 0
}
.article-detail-wrap .article-section:not(:first-child) .single-post {
    border-top: 3px solid #96c2e1
}
.article-detail-wrap .share-group .panel-weixin h3 {
    top: 0
}
.article-detail-wrap .main-section {
    *zoom: 1
}
.article-detail-wrap .main-section:after {
    content: '';
    display: block;
    clear: both;
    height: 0
}
@media (min-width: 1200px) {
    .article-detail-wrap .main-section {
        margin-top: 30px
    }
}
@media (min-width: 800px) and (max-width: 1200px) {
    .article-detail-wrap .main-section {
        margin-top: 20px
    }
}
.article-detail-wrap .main-section .content-wrapper {
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.8em;
}
@media (min-width: 1200px) {
    .article-detail-wrap .main-section .content-wrapper {
        width: 810px
    }
}
@media (min-width: 800px) and (max-width: 1200px) {
    .article-detail-wrap .main-section .content-wrapper {
        width: 700px
    }
}
@media (max-width: 800px) {
    .article-detail-wrap .main-section .content-wrapper {
        float: none
    }
}
.article-detail-wrap .main-section .content-wrapper.focus-edition {
    float: none;
    margin: 0 auto
}
.article-detail-wrap .main-section .content-wrapper article.single-post {
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background: #fff;
    padding: 35px
}
@media (min-width: 800px) and (max-width: 1200px) {
    .article-detail-wrap .main-section .content-wrapper article.single-post {
        padding: 25px
    }
}
@media (max-width: 800px) {
    .article-detail-wrap .main-section .content-wrapper article.single-post {
        padding: 20px 15px
    }
}
.article-detail-wrap .main-section .content-wrapper article.single-post header h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left
}
@media (min-width: 800px) and (max-width: 1200px) {
    .article-detail-wrap .main-section .content-wrapper article.single-post header h1 {
        margin-bottom: 15px
    }
}
@media (max-width: 800px) {
    .article-detail-wrap .main-section .content-wrapper article.single-post header h1 {
        font-size: 17px
    }
}
.article-detail-wrap .main-section .content-wrapper article.single-post .author {
    margin: 15px 0 8px;
    color: #aaaaaa
}
.article-detail-wrap .main-section .content-wrapper article.single-post .single-post-header__headline {
    text-align: center;
    margin: 20px 0;
    position: relative
}
.article-detail-wrap .main-section .content-wrapper article.single-post .single-post-header__headline img {
    width: 100%;
    display: block;
    margin: 0 auto
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.to-tip {
    text-align: center
}
.article p {
    /*text-indent: 2em;*/
}
.two-dimension-code {
    background: #e9eaec;
    display: block;
    height: 190px;
    padding: 9px 15px 9px 10px;
    position: relative;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 1000;
    vertical-align: middle;
}
.two-dimension-code .container {
    width: 450px;
    margin: 0 auto;
    overflow: hidden;
}
.two-dimension-code .container > * {
    vertical-align: middle;
    display: inline-block;
}
.two-dimension-code .container  span {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
}
.two-dimension-code .container  span.company {
    font-size: 2em;
}
div.firgure {
    text-align: center;
}
div.firgure>img {
    display:inline-block;
    margin:0 auto;
    width:100%;
    float:left;
}
img.download-code {
    width: 30%;
    margin-right: 3%;
    display: inline-block;
}
