{% extends "app/base_site.html" %}
{% load staticfiles %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/css/signin.css' %}">
{% endblock %}

{% block navbar_nav %}
{% endblock %}

{% block content %}
<div class="container">
    <form class="form-signin" role="form" method="post" action="{% url 'app:login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">请登录</h2>
        <input name="telephone" type="text" class="form-control" placeholder="手机号码" required autofocus>
        <input name="password" type="password" class="form-control" placeholder="登录密码" required>
        <!--label class="checkbox">
            <input type="checkbox" value="remember-me"> 记住我
        </label-->
        {% if msg %}
            <div class="alert alert-danger">
                <a href="#" class="alert-link">{{ msg }}</a>
            </div>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
</div>
{% endblock %}
{% block footerfixed %}navbar-fixed-bottom{% endblock %}

